@font-face {
    font-family: "envy";
    src: url('fonts/envy_code_r.eot');
    src: local('monospace'), url('../fonts/envy_code_r.woff2') format('woff2'), url('../fonts/envy_code_r.woff') format('woff'), url('../fonts/envy_code_r.ttf') format('truetype'), url('../fonts/envy_code_r.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "envy";
    letter-spacing: .3px;
    background-color: #131313;
    color: #c2c2c2;
}
a {
    color: #c2c2c2;
}
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #277896;
    background: transparent;
}
#quote {
    color: #656565;
}
.panel {
    background-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.panel-body {
    padding: 0px;
}
.panellist > li > a {
    text-decoration: none;
    color: #01c8e5;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #c2c2c2;
}
.rootcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.rootcontent > p.menu > a {
    background-color: #252525;
    padding: 5px;
}
.rootcontent > p > a:hover,
a:active,
a:focus {
    color: #01c8e5;
}
.content > a {
    color: #c2c2c2;
}
.content > p > a {
    color: #01c8e5;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #277896;
}
.content > ul > li > a {
    color: #01c8e5;
}
ul {
    list-style: none;
}
code {
    color: #a92e36;
    background-color: #131313;
    padding: 5px 4px 2px 4px;
    border-radius: 0px;
}
pre {
    max-width: 70%;
    color: #c2c2c2;
    background-color: #0b0b0b;
    /*font-family: envy; */
    border-radius: 0px;
    border-color: #656565;
    border-width: 2px;
    font-family: monospace;
}
blockquote {
    font-size: 1em;
    border: 2px solid #252525;
    background-color: #181818;
    max-width: 90%;
    margin-left: 5%;
}
blockquote:hover {
    border: 2px solid #01c8e5;
}
blockquote:hover > p {
    color: #c2c2c2 !important;
}
.nav > li > a:hover,
a:active,
a:focus {
    background-color: transparent;
}
footer {
    border-top: solid #c2c2c2 1px;
    padding-top: 10px;
}
