@font-face {
    font-family: "envy";
    src: url('../fonts/envy_code_r.eot');
    src: url('../fonts/envy_code_r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/envy_code_r.woff2') format('woff2'),
         url('../fonts/envy_code_r.woff') format('woff'),
         url('../fonts/envy_code_r.ttf') format('truetype'),
         url('../fonts/envy_code_r.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "envy";
    font-size: 13px;
    letter-spacing: .3px;
    background-color: #111111;
    color: #abc0c5;
}
a {
    color: #277896;
    text-decoration: none;
}
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #01c8e5;
    background: transparent;
}
#quote {
    color: #444444;
}
.panel {
    background-color: transparent;
}
.panel-default {
    border-color: transparent;
}
.panel-body {
    padding: 0px;
}
.panellist > li > a {
    text-decoration: none;
    color: #277896;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #444444;
}
.rootcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.rootcontent > pre > a {
    text-decoration: none;
    color: #abc0c5;
}
.rootcontent > p.menu > a {
    color: #abc0c5;
    background-color: #111111;
    padding: 5px;
    text-decoration: none;
}
.rootcontent > pre > a:hover,
a:active,
a:focus {
    color: #4f8396;
    text-decoration: none;
}
.content > a {
    color: #277896;
    text-decoration: none;
}
.content > p > a {
    color: #277896;
    text-decoration: none;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #01c8e5;
    text-decoration: none;
}
.content > ul > li > a {
    color: #277896;
    text-decoration: none;
}
.content > ul > li > a:hover {
    color: #01c8e5;
    text-decoration: none;
}
ul {
    list-style: none;
}
code {
    color: #abc0c5;
    background-color: #222222;
    padding: 5px 4px 2px 4px;
    border-radius: 0px;
    font-family: envy;
    font-size: 13px;
}
pre {
    /*max-width: 70%;*/
    color: #abc0c5;
    background-color: #111111;
    font-family: envy;
    font-size: 16px;
    border-radius: 0px;
    border-color: #111111;
    border-width: 1px;
    border-style: none;
    border-left-style: solid;
}
blockquote {
    font-size: 1em;
    border-left: 2px solid #222222;
    background-color: #222222;
    max-width: 90%;
    margin-left: 5%;
    color: #abc0c5;
}
blockquote:hover {
    border-left: 2px solid #222222;
}
blockquote:hover > p {
    color: #01c8e5 !important;
    text-decoration: none;
}
.nav > li > a {
    color: #abc0c5;
}
.nav > li > a:hover,
a:active,
a:focus {
    background-color: transparent;
}
footer {
    border-top: solid #abc0c5 1px;
    padding-top: 10px;
}
