---
title: archive
layout: default
---

<div class="page-content wc-container">
  <div class="post">
    <p>LOG ARCHIVE</p>
    {% for post in site.posts %}
      {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% if currentyear != year %}
        {% unless forloop.first %}</ul>{% endunless %}
          <p>{{ currentyear }}</p>
          <ul class="posts">
          {% capture year %}{{currentyear}}{% endcapture %}
        {% endif %}
      <li><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </div>
</div>
