    <footer>
      <div class="row">
        <div class="col-md-13 text-center">
          <div class="col-md-3">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="noopener noreferrer">CC</a> 2017 PYRATEBEARD
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            root@pyratebeard.net
            |
            <a href="https://twitter.com/pyratebeard" target="_blank" rel="noopener noreferrer">TWITTER</a>
            <!-- | -->
            <!-- <a href="https://github.com/pyratebeard" target="_blank" rel="noopener noreferrer">GITHUB</a> -->
            |
            <a href="https://keybase.io/pyratebeard" target="_blank" rel="noopener noreferrer">KEYBASE</a>
          </div>
        </div>
      </div>
    </footer>