<head>
  <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
  <meta http-equiv='X-UA-Compatible' content='IE-edge'/>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='keywords' content='pyratebeard, pyrate, pirate, beard, linux, gnu/linux, hack, code, programmer, netsec, geek, geeky, devops, comics, comic book, coffee, cold brew'>
  <meta name='author' content='pyratebeard'>
  <script src="{{ site.baseurl}}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl}}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl}}/js/header.js"></script>
  <link href="{{ site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl}}/css/custom.css" rel="stylesheet">
  <link href="{{ site.baseurl}}/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <script language=javascript>
  var whois=location+" "

  if (whois.indexOf("code.pyratebeard.net") != -1)
    { window.location ="code.html" }

  if (whois.indexOf("log.pyratebeard.net") != -1)
    { window.location ="log.html" }

  if (whois.indexOf("mcc.pyratebeard.net") != -1)
    { window.location ="mcc.html" }

  if (whois.indexOf("powerzone.pyratebeard.net") != -1)
    { window.location ="powerzone.html" }
  </script>
</head>
