    <p>RECENT POSTS</p>
    {% if site.posts %}
      <ul class="sidebar">
          {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>
      {% else %}
      <p>Nothing has been posted yet</p>
    {% endif %}
   <!-- 
    <p>CATEGORIES</p>
    {% if site.categories %}
      <ul class="sidebar">
        {% assign categories = (site.categories) %}
        {% for category in categories %}
        <li>{{ category[0] }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No categories yet</p>
    {% endif %}

    <p>TAGS</p>
      <ul class="sideBarTags">
        {% assign tags = (site.tags | sort:0) %}
        {% for tag in tags %}
        <li>
          <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
            <span>{{tag[0] }}</span></a></li>
        {% endfor %}
      </ul>
   -->
