          <ul class="nav">
            <li><a href="{{site.baseurl }}/">HOME</a></li>
            <!-- <li><a href="{{site.baseurl }}/archive.html">/archive</a></li> -->
            <!-- <li><a href="{{site.baseurl }}/tags.html">/tags</a></li> -->
            <li><a href="{{site.baseurl }}/code.html">CODE</a></li>
            <li><a href="{{site.baseurl }}/log.html">LOG</a></li>
            <li><a href="{{site.baseurl }}/mcc.html">MCC</a></li>
            <li><a href="{{site.baseurl }}/powerzone.html">POWERZONE</a></li>
          </ul>
